<!doctype html>
<html lang="en">
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <title>Resultado da Calculadora</title>
</head>
<body>
<div class="container mt-5">
    <h1>Resultado</h1>
    <p class="lead">O resultado da operação é: <%= result %></p>
    <a href="/" class="btn btn-secondary">Novo Cálculo</a>
</div>
</body>
</html>
