<!doctype html>
<html lang="en">
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>Calculadora</title>
</head>
<body>
<div class="container mt-5">
    <h1>Calculadora</h1>
    <form method="POST" action="/calcular">
        <div class="container">
            <div class="mb-3 form-group" >
                <label for="numA" class="form-label">Primeiro número:</label>
                <input type="number" class="form-control" id="numA" name="numA" required>
            </div>
            <div class="mb-3 form-group">
                <label for="numB" class="form-label">Segundo número:</label>
                <input type="number" class="form-control" id="numB" name="numB" required>
            </div>
            <div class="mb-3">
                <label for="operation" class="form-label">Operação:</label>
                <select class="form-select" id="operation" name="operation" required>
                    <option value="+">Adição (+)</option>
                    <option value="-">Subtração (-)</option>
                    <option value="*">Multiplicação (*)</option>
                    <option value="/">Divisão (/)</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Calcular</button>
        </div>
    </form>
</div>
</body>
</html>
